*{
    margin:0;
    padding:0;
    font-family: 'Courier New', Courier, monospace;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(5, 5, 8, 0.7),rgba(5, 5, 8, 0.7)), url(PS12/Movie.jpg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    position: relative;
}
.nav-links ul li a{
    color:#d3d3d3;
    text-decoration: none;
    font-size: 25px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.3s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 100%;
    color:#d3d3d3;
    position:absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 80px;
}
.text-box p{
    margin: auto;
    font-size: 25px;
    color: rgb(255, 255, 255);
    width: 75%;
}
.home{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.row{
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
}
.home-column{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.home-column img{
    width: 100%;
    height: 100%;
}
.layer{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(196, 194, 194, 0.7);
}
.layer h3{
    width: 100%;
    font-weight: 550;
    color: black;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
}
.layer:hover h3{
    top: 10%;
    opacity: 5;
}
.layer p{
    width: 80%;
    font-weight: 550;
    color: black;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
}
.layer:hover p{
    top: 40%;
    opacity: 5;
}
.sub-header{
    height: 25vh;
    width: 100%;
    background-image:linear-gradient(rgba(5, 5, 8, 0.7),rgba(5, 5, 8, 0.7)), url(PS12/Movie2.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color:beige;
}
.about{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.about-column{
    flex-basis: 50%;
    margin-bottom: 3%;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.about-column h3{
    margin-left: 50%;
}
.about-column img{
    width: 35%;
    margin-left: 50%;
}
.about-column p{
    width: 40%;
    margin-left: 10%;
    text-align: justify;
    font-size: 20px;
}
.contact_us{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.contact_us-column{
    flex-basis: 40%;
    border-radius: 10px;
    margin-left: 30%;
    margin-right: 30%;
    background: #d3d3d3;
    padding: 10px 12px;
    box-sizing: border-box;
}
.footer{
    width: 80%;
    text-align: center;
    padding: 30px;
    margin: auto;
}

@media(max-width: 700px){
    nav img{
        width: 50px;
    }
    .nav-links ul li{
        padding: 5px;
    }
    .nav-links ul li a{
        font-size: 14px;
    }
    .text-box{
        top: 50%;
    }
    .text-box h1{
        font-size: 40px;
    }
    .text-box p{
        font-size: 13px;
    }
    .home h1{
        font-size: 20px;
    }
    .layer h3{
        font-size: 5px;
    }
    .layer p{
        width: 90%;
        font-weight: 500;
        font-size: 5px;
    }
    .sub-header{
        height: 13vh;
    }
    .about h1{
        font-size: 20px;
    }
    .about-column h3{
        margin-left: 20%;
        font-size: 10px;
    }
    .about-column img{
        width: 60%;
        margin-left: 20%;
    }
    .about-column p{
        width: 65%;
        font-size: 9.1px;
    }
    .contact_us h1{
        font-size: 15px;
    }
    .contact_us-column{
        flex-basis: 50%;
        margin-left: 25%;
        margin-right: 25%;
    }
    .contact_us-column h3{
        font-size: 8px;
    }
    .contact_us-column p{
        font-size: 7px;
    }
    .footer{
        font-size: 6px;
    }
} 